<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrionTM_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OrionTM_Web.styles.css" asp-append-version="true" />
</head>
<body>

    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Localization

    @inject IViewLocalizer Localizer

    @*@Localizer["Senha"]*@


    <header>
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  bg-dark border-bottom box-shadow mb-3 ">
     
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png"></a>
            <a class="nav-link text-white" asp-area="" asp-controller="EnvioPacotes" asp-action="Index">@Localizer["MNU_DOWNLOAD"]</a>
            <a class="nav-link text-white" asp-area="" asp-controller="BuscaLog" asp-action="Index">@Localizer["MNU_UPLOAD"]</a>
            <a class="nav-link text-white" asp-area="" asp-controller="Comandos" asp-action="Index">@Localizer["MNU_COMANDOS"]</a>
            <a class="nav-link text-white" asp-area="" asp-controller="Resets" asp-action="Index">@Localizer["MNU_RESETS"]</a>
            <a class="nav-link text-white" asp-area="" asp-controller="ListaEnvio" asp-action="Index">@Localizer["MNU_LISTA"]</a>
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Status">@Localizer["MNU_STATUS"]</a>

            @if(User.IsInRole("Admin"))
                {
                <a class="nav-link text-white" asp-area="Admin" asp-controller="Admin" asp-action="Index">@Localizer["MNU_ADMIN"]</a>
                }
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        @await Html.PartialAsync("_LoginParcial")
                    </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


  




    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        
    <script src="~/js/multiselect.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>




<script type="text/javascript">
    $(document).ready(function () {
        $('#multiselect').multiselect();
    });
</script>
</html>
