@model OrionTM_Web.Models.Comando


@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@*@Localizer["Senha"]*@



@{
    ViewData["Title"] = @Localizer["TITULO"];
}

<h2>@Localizer["TITULO"]</h2>

<div class="col-md-6">
    <hr />

    <table class="table">
        <tr>
            <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Localizer["GRD_NOME"]
                        <input asp-for="Nome" class="form-control" readonly />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Localizer["GRD_DESCRICAO"]
                        <input asp-for="Descricao" class="form-control" readonly />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Localizer["GRD_COMANDO"]
                    <textarea asp-for="Caminho" id="w3review" name="Caminho" rows="10" cols="170" readonly>
                       </textarea>
                    <span asp-validation-for="Caminho" class="text-danger"></span>
                </div>

                              

            </th>
        </tr>

    </table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ComandoId" class="btn btn-primary btn-sm"> @Localizer["BTN_EDITAR"]</a>
    <a asp-action="Index" class="btn btn-secondary btn-sm"> @Localizer["BTN_VOLTAR"]</a>
</div>