@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<OrionTM_Web.Models.FilaTasks>


@{
    ViewData["Title"] = "Logs";
}

<form method="get" class="form-inline">

    <table class="Table">
        <tr>
            <td class="col-sm-2">
                <h4>Execução de Comandos</h4>
            </td>
            <td class="col-sm-2">
                <input name="filter" class="form-control" placeholder="TerminalId" value="@Model.RouteValue["filter"]" />
            </td>
            <td class="col-sm-1">
            </td>

            <td class="col-sm-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" name="IsExecutando" type="checkbox" id="flexSwitchCheckDefault" checked="@Model.RouteValue["isExecutando"]">
                    <label class="form-check-label" name="IsOffLine" for="flexSwitchCheckDefault"><img src="~/images/Novo Lote.png" />&nbsp;Executando</label>
                </div>
            </td>

            <td class="col-sm-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" name="IsOk" type="checkbox" id="flexSwitchCheckDefault" checked="@Model.RouteValue["IsOk"]">
                    <label class="form-check-label" name="IsOnLine" for="flexSwitchCheckDefault"> <img src="~/images/Online.png" />&nbsp;Comando OK</label>
                </div>
            </td>
            <td class="col-sm-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" name="IsErro" type="checkbox" id="flexSwitchCheckDefault" checked="@Model.RouteValue["IsErro"]">
                    <label class="form-check-label" name="IsOffLine" for="flexSwitchCheckDefault"><img src="~/images/Offline.png" />&nbsp;Comando Erro</label>
                </div>
            </td>

            <td class="col-sm-3">
                <button type="submit" class="btn btn-info ">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
                </button>
            </td>
        </tr>
    </table>

</form>

<hr />
<table>
    <tr>
        <td>
            <a class="btn btn-primary btn-sm" asp-action="ComandoPorLista">Por Lista </a>
            <a class="btn btn-warning btn-sm" asp-action="ComandoPorLocais">Por Localidade</a>
            <a class="btn btn-danger btn-sm" asp-action="ComandoPorTerminais">Por Terminal</a>
        </td>
    </tr>
</table>
<hr />


<table class="table table-striped ">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
               Terminal
            </th>
            <th>
                Comando
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
           
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    @if (item.StatusId == 0)
                    {
                        <img src="~/images/Novo Lote.png">
                    }

                    @if (item.StatusId == 2)
                    {
                        <img src="~/images/Novo Lote.png">
                    }

                    @if (item.StatusId == 5)
                    {
                        <img src="~/images/Offline.png">
                    }

                    @if (item.StatusId == 6)
                    {
                        <img src="~/images/Online.png">
                    }
                </td>

                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Terminal.Codigo)
                </td>
               <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Comando.Nome)
                </td>
                <td class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    @Html.DisplayFor(modelItem => item.Comando.Descricao)
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.DtAtualizacao)
                </td>
               
            </tr>

        }
    </tbody>
</table>

<table class="table ">
    <tr>
        <td class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> <vc:pager paging-list="@Model"></vc:pager> </td>
        <td> <h5>Total: @Model.TotalRecordCount</h5> </td>
    </tr>

</table>
<script language='javascript'>

    function teste() {
        window.location.reload();
    }

    setTimeout(teste, 10000);

</script>