@model ComandosEnvioViewModel



<div class="container">
    <form asp-action="Comandos">
<table class="table">

    <tr>
        <td >
            <div><h4>Comando</h4></div>
            <div>
                <select name="Comandos_from" id="multiselect" class="form-control" size="5" >
                    @foreach (var item in Model.Comandos)
                    {
                        <option value="@item.ComandoId">@item.Nome</option>
                    }
                </select>
            </div>
        </td>
     </tr>

     <tr>
        <td >
            <div><h4>Lista de Envio</h4></div>
            <div >
                <select name="ListaEnvio_from" id="multiselect" class="form-control" size="5" >
                    @foreach (var item in Model.ListaEnvio)
                    {
                        <option value="@item.ListaEnvioId">@item.Nome</option>
                    }
                </select>
            </div>
        </td>
    
        <td >
            <div>
                <div><h4>Local</h4></div>
            </div>
            <div >
                <select name="Locais_from" id="multiselect" class="form-control" size="5">
                    @foreach (var item in Model.Locais)
                    {
                        <option value="@item.LocalId">@item.Codigo - @item.Nome</option>
                    }
                </select>
            </div>
        </td>
   
        <td >
            <div><h4>Terminal</h4></div>
            <div >
                <select name="terminais_from" id="multiselect" class="form-control" size="5" >
                    @foreach (var item in Model.Terminais)
                    {
                        <option value="@item.TerminalId">@item.Codigo</option>
                    }
                </select>
            </div>
        </td>
    </tr>
    </table>
     <table>
        <div class="row">
            <div class="col-md-2 offset-md-10">
                    <button type="submit" class="btn btn-warning  btn-sm">Salvar</button>
            </div>
        </div>
        </table>
    </form>
</div>
