@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<OrionTM_Web.Models.ListaEnvio>

@{
    ViewData["Title"] = "Lista Envio";
}


<form method="get" class="form-inline">

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                <h3>Lista Envios</h3>
            </dt>

            <dt class="col-sm-2">
                <input name="filter" class="form-control" placeholder="Nome" value="@Model.RouteValue["filter"]" />
            </dt>

            <dt class="col-sm-1">
                <button type="submit" class="btn btn-info ">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
                </button>
            </dt>
            <dt class="col-sm-1">
                <th class="col-sm-4">
                    <a class="btn btn-primary " asp-action="Create">Incluir</a>
                </th>
            </dt>
            <dt class="col-sm-1">
                <h4>Total: @Model.TotalRecordCount</h4>
            </dt>
        </dl>
    </div>

</form>

<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>

                    <a class="btn btn-outline-info btn-sm" asp-action="Terminais" asp-route-id="@item.ListaEnvioId">Terminais</a>
                    <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.ListaEnvioId">Editar</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.ListaEnvioId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>
