@model ReflectionIT.Mvc.Paging.PagingList<OrionTM_Web.Models.Log>

@{    ViewData["Title"] = "Logs";}



<form method="get" class="form-inline">

    <div>
        <dl class="row">

            <dt class="col-sm-3">
                <h3>Logs</h3>
            </dt>


            <dt class="col-sm-2">
                <input name="filter" class="form-control" placeholder="Nome" value="@Model.RouteValue["filter"]" />
            </dt>

            <dt class="col-sm-1">
                <button type="submit" class="btn btn-info ">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
                </button>
            </dt>
            <dt class="col-sm-1">
                <th class="col-sm-4">
                    <a class="btn btn-primary " asp-action="Create">Incluir</a>
                </th>
             </dt>
           
        </dl>
    </div>

</form>

<hr />

<table class="table table-striped ">
    <thead>
        <tr>
            <th >
                Nome
            </th>
            <th >
                Descricao
            </th>
            <th>
                Caminho
            </th>
            <th>
                Tipo Arquivo
            </th>
            <th>
                Mascara Data
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Caminho)
            </td>

                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.TipoArquivo)
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.DataMascara)
                </td>







                <td  >
                     <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.LogId">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.LogId">Excluir</a>
                </td>
        </tr>
}
    </tbody>
</table >
<table class="table ">
    <tr>
        <td class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> <vc:pager paging-list="@Model"></vc:pager> </td>
        <td> <h5>Total: @Model.TotalRecordCount</h5> </td>
    </tr>

</table>