@model ReflectionIT.Mvc.Paging.PagingList<OrionTM_Web.Models.Pacote>

@{
    ViewData["Title"] = "Pacotes";
}



<form method="get" class="form-inline">

    <div>
        <dl class="row">

            <dt class="col-sm-2">
                <h3>Pacotes</h3>
            </dt>


            <dt class="col-sm-2">
                <input name="filter" class="form-control" placeholder="Nome" value="@Model.RouteValue["filter"]" />
            </dt>

            <dt class="col-sm-1">
                <button type="submit" class="btn btn-info ">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
                </button>
            </dt>
            <dt class="col-sm-1">
                <th class="col-sm-4">
                    <a class="btn btn-primary " asp-action="Create">Incluir</a>
                </th>
            </dt>
            <dt class="col-sm-2">
                <h4>Total: @Model.TotalRecordCount</h4>
            </dt>
        </dl>
    </div>

</form>

<hr />

<table class="table table-striped ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caminho)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Caminho)
                </td>


                <td>
                    <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.PacoteId">Detalhes</a>
                    <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.PacoteId">Editar</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.PacoteId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>