@model ReflectionIT.Mvc.Paging.PagingList<OrionTM_Web.Models.Terminal>

              
            @*
            glyphicon-ok-circle
            glyphicon-ban-circle
                   
            *@

  
@{    ViewData["Title"] = "Terminais";}




<form method="get" class="form-inline">

    <div>
        <dl class="row">

             <dt class="col-sm-2">
                <h3>Terminais</h3>
             </dt>
                   
            <dt class="col-sm-2">
                <input name="filter" class="form-control" placeholder="Codigo" value="@Model.RouteValue["filter"]" />
            </dt>

            <dt class="col-sm-1">
                <button type="submit" class="btn btn-info ">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
                </button>
            </dt>
            
            <dt class="col-sm-2">
                <h4>Total: @Model.TotalRecordCount</h4>
            </dt>
        </dl>
    </div>

</form>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Terminal:
            </th>
            <th>
               Local:
            </th>
            <th>
                Modelo:
            </th>
            <th>
                IP
            </th>
            <th>
                Versão Distribuida
            </th>
            <th>
                Versão Instalada
            </th>
            <th>
                Atuluzado em:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Local.Nome)
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Modelo.Descricao)
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.IP)
            </td>
             <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Vrs_Distribuida)
             </td>
             <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Vrs_Instalada)
                </td>
             <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.DtAtualizaao)
            </td>
            
        </tr>
}
    </tbody>
</table>
<div>
     <vc:pager paging-list="@Model"></vc:pager>
</div>