@model ComandosEnvioViewModel
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<body>

   
    <table class="table">

        <tr>
            
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                 <div>
                    <a class="nav-link text-black" asp-area="" asp-controller="Resets" asp-action="Index">
                        <h5>Execução de Resets - Tot: @Model.Reset.Count()</h5>
                    </a>
                </div>
                <div id="Resets" style="width: 500px; height: 250px;"></div>
            </td>

            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <div>
                    <a class="nav-link text-black" asp-area="" asp-controller="Upload" asp-action="Index">
                        <h5>Execução de Uploads - Tot: @Model.UpLoadOnLine.Count()</h5>
                    </a>
                </div>
                <div id="Upload" style="width: 500px; height: 250px;"></div>
            </td>

         </tr>


        <tr>
            <td>
                <div>
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Status">
                        <h5>Execução de Comandos - Tot: @Model.Script.Count()</h5>
                    </a>
                </div>
                <div id="Comandos" style="width: 500px; height: 250px;"></div>
            </td>

            <td>
                <div>
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Status">
                        <h5>Execução de Downloads - Tot: @Model.Download.Count()</h5>
                    </a>
                </div>
                <div id="Downloads" style="width: 500px; height: 250px;"></div>
            </td>

        </tr>


        <tr>
             <td>
                <div>
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Status">
                        <h5>Status Terminais - Tot: @Model.Terminais.Count()</h5>
                    </a>
                </div>
                <div id="Terminais" style="width: 500px; height: 250px;"></div>
            </td>
        </tr>





</table>
      


</body>


<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
       
        google.charts.setOnLoadCallback(drawChart_Resets);
        google.charts.setOnLoadCallback(drawChart_Terminais);
        google.charts.setOnLoadCallback(drawChart_Upload);
        google.charts.setOnLoadCallback(drawChart_Comandos);
        google.charts.setOnLoadCallback(drawChart_Downloads);


        function drawChart_Upload() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Iniciando', @Model.UpLoadOnLine.Count(x => x.StatusId.Equals(0))],
                ['Executando', @Model.UpLoadOnLine.Count(x => x.StatusId.Equals(1))],
                ['Ok', @Model.UpLoadOnLine.Count(x => x.StatusId.Equals(2))],
                ['Erro', @Model.UpLoadOnLine.Count(x => x.StatusId.Equals(3) || x.StatusId.Equals(4))],
            ]);
            var options = {
                colors: ['orange', 'blue', 'green', 'red'],
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('Upload'));
            chart.draw(data, options);
        }


       
        function drawChart_Resets() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Iniciando', @Model.Reset.Count(x => x.StatusId.Equals(0))],
                ['Executando', @Model.Reset.Count(x => x.StatusId.Equals(1))],
                ['Ok', @Model.Reset.Count(x => x.StatusId.Equals(2))],
                ['Erro', @Model.Reset.Count(x => x.StatusId.Equals(3) || x.StatusId.Equals(4))],
            ]);
            var options = {
                colors: ['orange', 'blue', 'green', 'red'],
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('Resets'));
            chart.draw(data, options);
        }



        function drawChart_Comandos() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Iniciando', @Model.Script.Count(x => x.StatusId.Equals(0))],
                ['Executando', @Model.Script.Count(x => x.StatusId.Equals(1))],
                ['Ok', @Model.Script.Count(x => x.StatusId.Equals(2))],
                ['Erro', @Model.Script.Count(x => x.StatusId.Equals(3) || x.StatusId.Equals(4))],
            ]);
            var options = {
                colors: ['orange', 'blue', 'green', 'red'],
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('Comandos'));
            chart.draw(data, options);
        }

        function drawChart_Downloads() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Iniciando', @Model.Download.Count(x => x.StatusId.Equals(0))],
                ['Executando', @Model.Download.Count(x => x.StatusId.Equals(1))],
                ['Ok', @Model.Download.Count(x => x.StatusId.Equals(2))],
                ['Erro', @Model.Download.Count(x => x.StatusId.Equals(3) || x.StatusId.Equals(4))],
            ]);
            var options = {
                colors: ['orange', 'blue', 'green', 'red'],
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('Downloads'));
            chart.draw(data, options);
        }

        function drawChart_Terminais() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Online', @Model.Terminais.Count(x => x.Status.Equals(1) )],
                ['Offline', @Model.Terminais.Count(x => x.Status.Equals(0) )],
               
            ]);
            var options = {
                colors: ['green', 'red'],
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('Terminais'));
            chart.draw(data, options);
        }








        function teste() {
            window.location.reload();
        }

        setTimeout(teste, 15000);

    </script>
</head>


