@model ComandosEnvioViewModel
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@using OrionTM_Web.Controllers


@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
 
@inject IViewLocalizer Localizer


@*@Localizer["Senha"]*@


<body>

   
    <table class="table">

        <tr>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                 <div>
                    <a class="nav-link text-black" asp-area="" asp-controller="Resets" asp-action="Index">
                        <h5>@Localizer["TIT_RESET"] - Tot: @Model.Reset.Count()</h5>
                    </a>
                </div>
                <div id="Resets" style="width: 400px; height: 250px;"></div>
            </td>

            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <div>
                    <a class="nav-link text-black" asp-area="" asp-controller="BuscaLog" asp-action="Index">
                        <h5>@Localizer["TIT_BUSCA"] - Tot: @Model.UpLoadOnLine.Count()</h5>
                    </a>
                </div>
                <div id="Upload" style="width: 400px; height: 250px;"></div>
            </td>
        </tr>


        <tr>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <div>
                    <a class="nav-link text-black" asp-area="" asp-controller="Comandos" asp-action="Index">
                        <h5>@Localizer["TIT_COMANDO"] - Tot: @Model.Script.Count()</h5>
                    </a>
                </div>
                <div id="Comandos" style="width: 400px; height: 250px;"></div>
            </td>

            <td>
                <div>
                    <a class="nav-link text-black" asp-area="" asp-controller="EnvioPacotes" asp-action="Index">
                        <h5>@Localizer["TIT_ENVIO"] - Tot: @Model.Download.Count()</h5>
                    </a>
                </div>
                <div id="Downloads" style="width: 400px; height: 250px;"></div>
            </td>
            
        </tr>

</table>


</body>


<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
       
        google.charts.setOnLoadCallback(drawChart_Resets);
        google.charts.setOnLoadCallback(drawChart_Upload);
        google.charts.setOnLoadCallback(drawChart_Comandos);
        google.charts.setOnLoadCallback(drawChart_Downloads);


        function drawChart_Upload() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['@Localizer["LEG_INICIANDO"]', @Model.UpLoadOnLine.Count(x => x.StatusId.Equals(0))],
                ['@Localizer["LEG_ENVIANDO"]', @Model.UpLoadOnLine.Count(x => x.StatusId.Equals(1))],
                ['@Localizer["LEG_OK"]', @Model.UpLoadOnLine.Count(x => x.StatusId.Equals(2))],
                ['@Localizer["LEG_ERRO"]', @Model.UpLoadOnLine.Count(x => x.StatusId.Equals(3) || x.StatusId.Equals(4))],
            ]);
            var options = {
                colors: ['orange', 'blue', 'green', 'red'],
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('Upload'));
            chart.draw(data, options);
        }


       
        function drawChart_Resets() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['@Localizer["LEG_INICIANDO"]', @Model.Reset.Count(x => x.StatusId.Equals(0))],
                ['@Localizer["LEG_ENVIANDO"]', @Model.Reset.Count(x => x.StatusId.Equals(1))],
                ['@Localizer["LEG_OK"]', @Model.Reset.Count(x => x.StatusId.Equals(2))],
                ['@Localizer["LEG_ERRO"]', @Model.Reset.Count(x => x.StatusId.Equals(3) || x.StatusId.Equals(4))],
            ]);
            var options = {
                colors: ['orange', 'blue', 'green', 'red'],
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('Resets'));
            chart.draw(data, options);
        }



        function drawChart_Comandos() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['@Localizer["LEG_INICIANDO"]', @Model.Script.Count(x => x.StatusId.Equals(0))],
                ['@Localizer["LEG_ENVIANDO"]', @Model.Script.Count(x => x.StatusId.Equals(1))],
                ['@Localizer["LEG_OK"]', @Model.Script.Count(x => x.StatusId.Equals(2))],
                ['@Localizer["LEG_ERRO"]', @Model.Script.Count(x => x.StatusId.Equals(3) || x.StatusId.Equals(4))],
            ]);
            var options = {
                colors: ['orange', 'blue', 'green', 'red'],
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('Comandos'));
            chart.draw(data, options);
        }

        function drawChart_Downloads() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['@Localizer["LEG_INICIANDO"]', @Model.Download.Count(x => x.StatusId.Equals(0))],
                ['@Localizer["LEG_ENVIANDO"]', @Model.Download.Count(x => x.StatusId.Equals(1))],
                ['@Localizer["LEG_OK"]', @Model.Download.Count(x => x.StatusId.Equals(2))],
                ['@Localizer["LEG_ERRO"]', @Model.Download.Count(x => x.StatusId.Equals(3) || x.StatusId.Equals(4))],
            ]);
            var options = {
                colors: ['orange', 'blue', 'green', 'red'],
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('Downloads'));
            chart.draw(data, options);
        }

       

        function teste() {
            window.location.reload();
        }

        setTimeout(teste, 15000);

    </script>
</head>


