@model ReflectionIT.Mvc.Paging.PagingList<OrionTM_Web.Models.Terminal>
         
      
@{    ViewData["Title"] = "Terminais";}


<form method="get" class="form-inline">
      
        <table class="Table">
            <tr>
                <td class="col-sm-3">
                    <h4>Status Terminais</h4>
                </td>
                <td class="col-sm-3">
                    <input name="filter" class="form-control" placeholder="Codigo" value="@Model.RouteValue["filter"]" />
                </td>
                <td class="col-sm-1">

                </td>
                <td class="col-sm-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="IsOnLine" type="checkbox" id="flexSwitchCheckDefault" checked="@Model.RouteValue["IsOnLine"]">
                    <label class="form-check-label" name="IsOnLine" for="flexSwitchCheckDefault"> <img src="~/images/Online.png" />&nbsp;Terminal Online</label>
                    </div>
                </td>
                <td class="col-sm-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="IsOffLine" type="checkbox" id="flexSwitchCheckDefault" checked="@Model.RouteValue["IsOffLine"]">
                    <label class="form-check-label" name="IsOffLine" for="flexSwitchCheckDefault"><img src="~/images/Offline.png" />&nbsp;Terminal Offline</label>
                    </div>
                </td>
                <td class="col-sm-3">
                    <button type="submit" class="btn btn-info ">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
                    </button>
                </td>
            </tr>
        </table>

</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Terminal
            </th>
            <th>
               Local
            </th>
            <th>
                Modelo
            </th>
            <th>
                IP
            </th>
            <th>
                Vrs Distribuida
            </th>
            <th>
                Vrs Instalada
            </th>
            <th>
                Atualizado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    @if ( item.Status == 1)
                    {
                        <img src="~/images/Online.png" alt="Minha Figura">
                       
                    }
                    else
                    {
                        <img src="~/images/Offline.png" alt="Minha Figura">
                    }

                 </td>

            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Local.Nome)
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.Modelo.Descricao)
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.IP)
            </td>
             <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                @Html.DisplayFor(modelItem => item.Vrs_Distribuida)
             </td>
             <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    @Html.DisplayFor(modelItem => item.Vrs_Instalada)
                </td>
             <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                @Html.DisplayFor(modelItem => item.DtAtualizaao)
            </td>
            
        </tr>
}
    </tbody>
</table>
<div>
     <vc:pager paging-list="@Model"></vc:pager>
</div>

<script language='javascript'>
   
function teste(){
     window.location.reload();
}

setTimeout(teste,20000);

</script>
