@model OrionTM_Web.Models.Terminal

@using Microsoft.AspNetCore.Mvc.Localization

@using Microsoft.Extensions.Localization

@inject IViewLocalizer Localizer

@*@Localizer["Senha"]*@

@{
    ViewData["Title"] = @Localizer["TITULO"];

    }

    <h2>@Localizer["TITULO"]</h2>
    


<div class="col-md-6">
    <hr />

    <table class="table">
        <tr>
            <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <div class="form-group">
                        @Localizer["GRD_CODIGO"]
                    <input asp-for="Codigo" class="form-control" readonly />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group">
                        @Localizer["GRD_MODELO"]
                    <select asp-for="ModeloId" class="form-control" asp-items="ViewBag.ModeloId" readonly></select>
                    <span asp-validation-for="ModeloId" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                        @Localizer["GRD_LOCAL"]
                    <select asp-for="LocalId" class="form-control" asp-items="ViewBag.LocalId" readonly></select>
                    <span asp-validation-for="LocalId" class="text-danger"></span>
                </div>
            </th>
            <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                        @Localizer["GRD_IP"]
                    <input asp-for="IP" class="form-control" readonly />
                    <span asp-validation-for="IP" class="text-danger"></span>
                </div>
                <div class="form-group">
                        @Localizer["GRD_DNS"]
                    <input asp-for="DNS" class="form-control" readonly />
                    <span asp-validation-for="DNS" class="text-danger"></span>
                </div>
                <div class="form-group">
                        @Localizer["GRD_GATEWAY"]
                    <input asp-for="DefaultGateway" class="form-control" readonly />
                    <span asp-validation-for="DefaultGateway" class="text-danger"></span>
                </div>
            </th>
        </tr>
    </table>


</div>
    <h4 class="modal-title">  @Localizer["ATENCAO"]</h4>
<div class="modal-body">

        @Localizer["ATENCAO1"]: <strong>@Html.DisplayFor(model => model.Codigo) </strong>?
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
            <input class="btn btn-primary btn-sm btn-danger" type="submit" value="  @Localizer["BTN_SALVAR"]" />
            <a asp-action="Index" class="btn btn-secondary btn-sm">  @Localizer["BTN_VOLTAR"]</a>
    </div>
}

