@model OrionTM_Web.Models.Local

@using Microsoft.AspNetCore.Mvc.Localization

@using Microsoft.Extensions.Localization

@inject IViewLocalizer Localizer

@*@Localizer["Senha"]*@



@{
    ViewData["Title"] = @Localizer["TITULO"];
}

<h2> @Localizer["TITULO"]</h2>


<div class="col-md-10">
<table class="table">
    <tr>
        <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                    @Localizer["GRD_CODE"]
                <input asp-for="Codigo" class="form-control" readonly />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
        </th>


        <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
             <div class="form-group">
                    @Localizer["GRD_NOME"]
                <input asp-for="Nome" class="form-control" readonly />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </th>
    </tr>

</table>
</div>

<h4 class="modal-title">  @Localizer["ATENCAO"]</h4>
<div class="modal-body">
    @Localizer["ATENCAO1"]  <strong>@Html.DisplayFor(model => model.Nome) </strong>?
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input class="btn btn-primary btn-sm btn-danger" type="submit" value="@Localizer["BTN_SALVAR"]" />
        <a asp-action="Index" class="btn btn-secondary btn-sm">@Localizer["BTN_VOLTAR"]</a>
    </div>
}
    
