@model ComandosEnvioViewModel


<div class="container">
    <form asp-action="BuscaPorLista">
        <h3>Upload de Arquivos por Lista</h3>
        <table class="table">

            <tr>
                <td>
                    <div><h5>Selecione o Arquivo</h5></div>
                    <div>
                        <select name="Logs_from" id="multiselect" class="form-control" size="6">
                            @foreach (var item in Model.Log)
                            {
                                <option value="@item.LogId">@item.Nome     -    Tipo =  @item.TipoArquivo / Mascara = @item.DataMascara </option>

                            }
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div><h5>Selecione a Lista de Terminais</h5></div>
                    <div>
                        <select name="Lista_from" id="multiselect" class="form-control" size="6" multiple="multiple">
                            @foreach (var item in Model.ListaEnvio)
                            {
                                <option value="@item.ListaEnvioId">@item.Nome</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label><h5>Selecione a Data Inicio:</h5></label>
                        <input type="date" id="birthday" name="DataInicio" placeholder="dd/mm/yyyy">
                        <label><h5> e a Data Fim:</h5></label>
                        <input type="date" id="birthday" name="DataFim" placeholder="dd/mm/yyyy">
                        <label><h5> do Range de Arquivos.</h5></label>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <div class="row">
                <div class="col-md-2 offset-md-10">
                    <button type="submit" class="btn btn-warning  btn-sm">Executar</button>
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Voltar</a>
                </div>
            </div>
        </table>
    </form>
</div>
