@model ComandosEnvioViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@using Microsoft.Extensions.Localization

@inject IViewLocalizer Localizer

@*@Localizer["Senha"]*@


<div class="container">
    <form asp-action="BuscaPorTerminais">
        <h3>@Localizer["TITULO"]</h3>
        <table class="table">

            <tr>
                <td>
                    <div><h5>@Localizer["SEL_ARQUIVO"]</h5></div>
                    <div>
                        <select name="Logs_from" id="multiselect" class="form-control" size="6">
                            @foreach (var item in Model.Log)
                            {
                                <option value="@item.LogId">@item.Nome     -    Tipo =  @item.TipoArquivo / Mascara = @item.DataMascara </option>
                            }
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div><h5>@Localizer["SEL_TERMINAL"]</h5></div>
                    <div>
                        <select name="terminais_from" id="multiselect" class="form-control" size="6" multiple="multiple">
                            @foreach (var item in Model.Terminais)
                            {
                                <option value="@item.TerminalId">@item.Codigo </option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div >
                        <label><h5>@Localizer["SEL_DATA_INICIO"]</h5></label>
                        <input type="date" id="birthday" name="DataInicio" placeholder="dd/mm/yyyy">
                        <label><h5>@Localizer["SEL_DATA_FIM"]</h5></label>
                        <input type="date" id="birthday" name="DataFim" placeholder="dd/mm/yyyy">
                        <label><h5>@Localizer["DO_RANGE"]</h5></label>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <h6><label>@Localizer["INST_IMEDIATA"]</label></h6>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <div class="row">
                <div class="col-md-2 offset-md-10">
                    <button type="submit" class="btn btn-warning  btn-sm">Executar</button>
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Voltar</a>
                </div>
            </div>
        </table>
    </form>
</div>
