@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<OrionTM_Web.Models.FilaTasks>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

@{
    ViewData["Title"] = "Resets";
}

<form method="get" class="form-inline">

    <div>
        <dl class="row">
            <dt class="col-sm-3">
                <h4>Resetar Terminais</h4>
            </dt>

            <dt class="col-sm-2">
                <input name="filter" class="form-control" placeholder="TerminalId" value="@Model.RouteValue["filter"]" />
            </dt>

            <dt class="col-sm-1">
                <button type="submit" class="btn btn-info ">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
                </button>
            </dt>
           
        </dl>
    </div>

</form>

<hr />

<table>
    <tr>
        <td>
            <a class="btn btn-primary btn-sm" asp-action="ResetPorLista">Reset Por Lista </a>
            <a class="btn btn-warning btn-sm" asp-action="ResetPorLocais">Reset por Localidade</a>
            <a class="btn btn-danger btn-sm" asp-action="ResetPorTerminais">Reset por Terminal</a>

    </tr>
</table>

<hr />

<table class="table table-striped ">
    <thead>
        <tr>

            <th>
                Terminal
            </th>
            <th>
                Data
            </th>
            <th>
                Status
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Terminal.Codigo)
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.DtAtualizacao)
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @if (item.StatusId == 0)
                    {
                        <span class="glyphicon glyphicon-play" style="color:blue;"></span>
                    }

                    @if (item.StatusId == 2)
                    {
                        <span class="glyphicon glyphicon-download" style="color:grey;"></span>
                    }

                    @if (item.StatusId == 5)
                    {
                        <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                    }

                    @if (item.StatusId == 6)
                    {
                        <span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    }
                </td>

            </tr>

        }
    </tbody>
</table>

<table class="table ">
    <tr>
        <td class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> <vc:pager paging-list="@Model"></vc:pager> </td>
        <td> <h5>Total: @Model.TotalRecordCount</h5> </td>
    </tr>

</table>

<script language='javascript'>

    function teste() {
        window.location.reload();
    }

    setTimeout(teste,10000);

</script>
