@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<OrionTM_Web.Models.FilaTasks>


@{
    ViewData["Title"] = "Resets";
}

<form method="get" class="form-inline">

    <div>
        <dl class="row">
            <dt class="col-sm-3">
                <h3>Resetar Equipamento</h3>
            </dt>

            <dt class="col-sm-2">
                <input name="filter" class="form-control" placeholder="TerminalId" value="@Model.RouteValue["filter"]" />
            </dt>

            <dt class="col-sm-1">
                <button type="submit" class="btn btn-info ">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
                </button>
            </dt>
            <dt class="col-sm-2">
                <h4>Total: @Model.TotalRecordCount</h4>
            </dt>
        </dl>
    </div>

</form>

<hr />

<table class="table table-striped ">
    <thead>
        <tr>

            <th>
                Terminal
            </th>
            <th>
                Data
            </th>
            <th>
                Status
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Terminal.Codigo)
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.DtAtualizacao)
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DisplayFor(modelItem => item.Status.StsDescricao)
                </td>

            </tr>

        }
    </tbody>
</table>
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<table>
    <tr>
        <td>
            <a class="btn btn-outline-info btn-sm" asp-action="ResetPorLista">Reset Por Lista </a>
            <a class="btn btn-outline-warning btn-sm" asp-action="ResetPorLocais">Reset por Localidade</a>
            <a class="btn btn-outline-danger btn-sm" asp-action="ResetPorTerminais">Reset por Terminal</a>
        <
    </tr>
</table>



