@model ComandosEnvioViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IViewLocalizer Localizer

@*@Localizer["Senha"]*@


<div class="container">
    <form asp-action="EnvioPacotesPorTerminais">
        <h3>@Localizer["TITULO"]</h3>

        <div>
            <h3 style="color: red;">@Html.ValidationMessage("Aviso")</h3>
        </div>


        <table class="table">

            <tr>
                <td>
                    <div><h5>@Localizer["SEL_PACOTE"]</h5></div>
                    <div>
                        <select name="Pacotes_from" id="multiselect" class="form-control" size="6">
                            @foreach (var item in Model.Pacote)
                            {
                                <option value="@item.PacoteId">@item.Nome</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div><h5>@Localizer["SEL_TERMINAL"]</h5></div>
                    <div>
                        <select name="terminais_from" id="multiselect" class="form-control" size="6" multiple="multiple">
                            @foreach (var item in Model.Terminais)
                            {
                                <option value="@item.TerminalId">@item.Codigo</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
  @*          <tr>
                <td>
                    <div>
                        <label><h5>@Localizer["SEL_DATA"]</h5></label>
                        <input type="date" id="birthday" name="DataInstalacao" placeholder="dd/mm/yyyy">
                        <label><h5>@Localizer["SEL_HORA"]</h5></label>
                        <input type="time" id="birthday" name="HoraInstalacao" placeholder="hh:mm">
                        <label><h5>@Localizer["DO_PACOTE"]</h5></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h6><label>@Localizer["INST_IMEDIATA"]</label></h6>
                    </div>
                </td>
            </tr>*@


        </table>
        <table>
            <div class="row">
                <div class="col-md-2 offset-md-10">
                    <button type="submit" class="btn btn-warning  btn-sm"><label><h6>@Localizer["BTN_EXECUTAR"]</h6></label></button>
                    <a asp-action="Index" class="btn btn-secondary btn-sm"><label><h6>@Localizer["BTN_VOLTAR"]</h6></label></a>
                </div>
            </div>
        </table>
    </form>
</div>
